/* Add your styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  a {
    text-decoration: none;
  }
  