<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <h1>Welcome <%= user.username %> to the Dashboard</h1>
  <a href="/invite">Invite the bot</a>
</body>
<iframe src="https://discord.com/widget?id=1130720823850848286&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</html>
